*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:coral;
}
.box{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color:black;
    padding: 20px;
    border-radius: 20px;
}
.calculator input{
    height: 55px;
    width: 60px;
    border-radius: 10px;
    margin:10px;
    cursor: pointer;
    background: transparent;
    font-size: 20px;
    color: aliceblue;
}
.display{
    display: flex;
    margin: 20px 0px;
}
.display input{
    flex: 1;
    text-align: left;
    font-size: 40px;
    border: none;
    outline: none;
}
